* {
    margin: 0;
    padding: 0;
}
#ask-user {
    width: 150px;
    height: 50px;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: solid 5px black;
    border-radius: 10px;
    background-color: cornflowerblue;
}
#parent-div {
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    width: 950px;
    height: 800px;
    border: 20px solid black;
}
.unfilled {
    background-color: cornflowerblue;
    border: solid 2px rgb(27, 27, 27);
}