* {
    margin: 0;
    padding: 0;
}
#ask-user {
    width: 250px;
    height: 100px;
    display: block;
    font-size: 24px;
    margin: 30px auto;
    text-align: center;
    border: solid 5px black;
    border-radius: 10px;
    background-color: rgb(0, 72, 206);
}
#ask-user:hover {
    background-color: rgba(28, 107, 255, 0.418);
}
#parent-div {
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    width: 950px;
    height: 800px;
    border: 20px solid rgb(36 35 35);
    border-radius: 15px;
}
.unfilled {
    background-color: #181a1b;
    border: solid 2px rgb(123 0 85);
    box-sizing: border-box;
}
body {
    background-color: #181a1b;
}